{% extends "layouts/base.html.twig" %}

{% block content %}
  <div class="min-h-screen flex flex-col bg-gray-50">

    {# Dashboard-specific navbar #}
    {% include 'partials/dashboard_navbar.html.twig' ignore missing %}

    {# Main content area #}
    <main class="flex-grow w-full max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8 mt-6 pt-4">
      {% block page_content %}
        {# Child pages (dashboard, tickets, etc.) will inject content here #}
      {% endblock %}
    </main>

    {# Shared footer #}
    {% include 'partials/footer.html.twig' ignore missing %}
  </div>
{% endblock %}
