{% extends "layouts/base.html.twig" %} {% block content %}
<div class="min-h-screen flex flex-col bg-gray-50">
  <main
    class="flex-grow w-full max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8 mt-6"
  >
    {% block main %}{% endblock %}
  </main>

  {# Footer #} {% include 'partials/footer.html.twig' %}
</div>
{% endblock %}
